@import "tailwindcss";
@theme {
  --color-background: #0b0f1a;
  --color-surface: #0c111f;
  --color-primary: #15c0ac;
  --color-secondary: #191f2e;
  --color-text-primary: #e5e7eb;
  --color-text-muted: #71849f;
  --color-text-special: #102b32;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.range {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: #374151; /* gray-700 */
  border-radius: 999px;
  outline: none;
}

/* TRACK - Chrome, Safari */
.range::-webkit-slider-runnable-track {
  height: 6px;
  background: #374151;
  border-radius: 999px;
}

/* THUMB - Chrome, Safari */
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: #15c0ac; /* green-500 */
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px; /* عشان يتوسط */
}

/* Firefox */
.range::-moz-range-track {
  height: 6px;
  background: #374151;
  border-radius: 999px;
}

.range::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #15c0ac;
  border-radius: 50%;
  cursor: pointer;
}
